*{
    margin: 0;
    border-width: 0;
}
body{
    background-color: gray;
}
.container{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-top:1%;
}
.container-fluid{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
}
.card{
    display: flex;
    justify-content: center;
    padding: 2% 2%;
    margin: auto;
    border-width: 2px !important;
    border-color: white !important;
    height: auto;
    background-color:transparent;
    margin-top: 1%;
    border-radius: 10PX;
    border-style: solid;
}
.todo{
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 1%;
}
.todo:hover{
    opacity: 90%;
}
checkbox{
    margin-right: 2%;
}
.tododetails{
    margin-right: 2%;
}
.input-card{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-input{
    border-radius: 8px;
    padding: 3% 0.5%;
    margin-right: 1%;
    border-color: white;
    border-width: 2px;
    background-color: transparent;
}
.form-input:hover{
    background-color: white;
    border-color: gray;
}
.btn{
    border-radius: 20px;
    text-align: center;
    padding: 3% 2%;
    border-width: 2px;
    border-color: white;
    opacity: 80%;
}
.btn:hover{
    opacity: 100%;
    color: white;
}
.btn-submit{
    background-color: green !important;
}
.btn-delete{
    background-color:red;
    opacity: 100%;

}
.btn-delete:hover{
    background-color:red;
    opacity: 50%;

}
.btn-done{
    background-color: rgb(43, 42, 42);
}
.flex-c{
    flex-direction: column;
}
.flex-r{
    flex-direction: row;
}
hr{
    border-width: 2px;
    border-style: solid;
    width: 100%;
    border-color: black;
    margin: 4% 0px;
}
#date{
padding: 3% 0.5%;
margin: 0.5%;
text-align: center;
border-width:1px;
border-radius:10px;
background-color: transparent;
opacity: 100%;

}
#date:hover{
    opacity: 80%;
    background-color: white;
}
#addform{
    width: 50%;
    margin-top: 0%;
    margin-right: 10%;
    padding:1% 2%;
    justify-content: center;
    margin: auto;
}
#addform>input{
    margin-bottom: 2%;
}
#addform>textarea{
    margin-bottom: 2%;
}
textarea{
    border-radius: 10px;
    height: 40%;
}
#submitbtn{
    margin-top: 3%;
}
#cancelbtn{
    width: 40%;
}
#submitbtn{
    width: 40%;
}
.done-card{
    margin-left: 0;
    width: 80%;
    margin: auto;
}
.todo>h6{
margin: 2% 0;
}
.todo>h3{
margin: 5% 0;
    
}
.btn-div{
    justify-content: space-evenly;
}
.flex-flow{
    display: flex;
    flex-flow: wrap;
}