@import url("https://fonts.google.com/specimen/Rubik");
*{
    margin: 0;
    border-width: 0;
}
.brs{
    border-radius: 10px;
}
.r-top{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   height: 5%;
}
.r-top >h5{
   color: white;
}

.container{
    display:inline-grid;
    padding-left: 4%;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:repeat(1,1fr);
    gap: 1%;
}
.main-d{
    background-color: hsl(235, 46%, 20%); 
    display:inline-grid;
    grid-template-rows:2;

}

body{
    width:80%;
    margin: auto;
    font-family: Rubik;
    background-color:  hsl(226, 43%, 10%);
    padding: 10%;
}
.jeimg{
width: 30%;
}
.about{
    background-color:  hsl(246, 80%, 60%);
    padding: 10%;
    padding-right: 20%;
    color: white;
}
.duration{
    padding-left: 10%;
    color: white;
    margin-top: 3%;
}
li{
    text-decoration: none;
    list-style: none;
    padding-top: 5%;
}
li:hover{
    opacity: 80%;
    cursor: pointer;
}

/*--------------------------work------------------------*/
.work>p{
    opacity:70%;
    font-size: 12px;
}
.m-work{
    margin: 0;
    background-color: hsl(43, 84%, 65%);
    display: inline-grid;
    grid-template-columns: 1fr;
    grid-template-rows:repeat(6,ifr);
}
.icon-home{
    display: flex; 
    justify-content:end; 
    width: 100%;
    padding-right: 1%;
    grid-row:1/1;
   
}
.work{
    grid-row:2/7;
    background-color: hsl(235, 46%, 20%);
    padding-left: 13%;
    padding-right: 13%;
    padding-top: 10%;
    color: white;
}
.play{
    background-color: hsl(195, 74%, 62%) !important;
}
.icon{
align-self: flex-end;
height: 50%;
margin-left:5%;
}
.g-a{
    grid-column: 1; 
     grid-row:1/3;
}
.g-w{
    grid-column:2;
    grid-row: 1;
}
.g-e{
    grid-column:2;
    grid-row: 2;
}
.g-p{
    grid-column:3;
    grid-row: 1;
}
.g-s{
    grid-column:4;
    grid-row: 1;      
}

.g-ss{
    grid-column:3;
    grid-row: 2;  
}
.g-sc{
    grid-column:4;
    grid-row: 2;  
}

@media screen and (max-width:375px){
  body{
      
  }
    .container{
       display: flex;
       flex-direction: column;
        gap: 1%;
        width: 90% !important;
    }
}
@media screen and( min-width:375px)  {
    .container{
       
        gap: 1%;
    }
}