*{
    margin: 0;
    border-width: 0;
   
}
body{
    background-color: hsl(233, 47%, 7%);
    color: white;
}
.card-info> h3>  span{
    color: hsl(277, 64%, 61%)
}

.container{
    width: 70%;
    height: 50% !important;
    margin: auto;
    margin-top:7.5%;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    background-color:  hsl(277, 64%, 61%);
    border-radius: 10px;
}
.image-part{
    grid-column:2;
    opacity: 60%;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size:100% 100%;
    width: 100%;
    background-image: url("./images/image-header-desktop.jpg");
}
.card{
   display: grid;
   grid-template-columns: 1;
   grid-template-rows:repeat(3,1fr); 

   background-color: hsl(244, 38%, 16%);
   border-radius: 10px 0 0 10px ;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 4%;
}
.card-info{
   grid-column: 1;
   grid-row: 1/2; 
   margin-bottom: 0%;
   padding-bottom: 0%;

}
.card-info>h2{
    margin-bottom: 5%;
}
.card-footer{
    margin-top: 10%;
    grid-column:1;
    grid-row: 2;
    display: grid;
    grid-template-columns:repeat(3,1fr); 

}

p{
    opacity: 70%;
    font-size: 16px;
    margin: 2% 0;
}
@media screen and (max-with: 375px) {
    .image-part{
        background-image:url("./images/image-header-mobile.jpg");
    }
}